.btn-black,
.btn-white {
  padding: 12px 20px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  transition: 0.3s;
}

.btn-black {
  color: var(--color-white);
  background-color: var(--color-black);
}

.btn-black:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

.btn-white {
  color: var(--color-black);
  background-color: var(--color-white);
}

.btn-white:hover {
  border: 1px solid transparent;
  background-color: var(--color-orange);
}

.row {
  display: flex;
}
.col-7 {
  width: 58.33%;
}
.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33%;
}
.title {
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  color: var(--color-black);
}
.description {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: var(--color-gray);
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.section__header {
  text-align: center;
  max-width: 827px;
  margin: auto;
}

.orange-link {
  position: relative;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: var(--color-black);
  text-decoration: none;
}

.orange-link::before {
  content: '';
  position: absolute;
  left: -2px;
  bottom: 0;
  z-index: -1;
  height: 50%;
  width: 100%;
  background-color: var(--color-orange);
  transition: 0.3s;
}

@media screen and (max-width: 576px) {
  .btn-black,
  .btn-white {
    font-size: 12px;
  }
  .row {
    flex-wrap: wrap;
  }
  .col-7 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
}
