.delivery__row {
  padding-top: 45px;
  flex-wrap: wrap;
  margin: -16px -14px;
}

.delivery__item {
  align-items: flex-start;
  padding: 16px 14px;
}

.delivery__icon {
  margin-right: 16px;
}

.delivery__suptitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-black);
  margin-bottom: 10px;
}

.delivery__text {
  font-size: 16px;
  line-height: 24px;
  color: #72787d;
}

.delivery__footer {
  margin-top: 22px;
  display: flex;
  justify-content: center;
}

.delivery__footer span {
  font-size: 20px;
  line-height: 32px;
  color: var(--color-gray);
}

@media screen and (max-width: 576px) {
  .delivery__footer {
    flex-direction: column;
  }
}
