.hero__content {
  text-align: center;
  max-width: 818px;
  margin: 0 auto;
}

.hero__title {
  margin: 74px 0 30px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.35;
  text-align: center;
  color: var(--color-black);
}

.hero__btn {
  margin-right: 8px;
}

.hero__image--1 {
	margin: 88px 0 36px;
	max-width: 100%;
}

.hero__image--2 {
  display: block;
	margin: auto;
	max-width: 100%;
}

@media screen and (max-width:576px) {
  .hero__title  {
    font-size: 32px;
  }
}