.sponsors__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 56px;
  padding-bottom: 56px;
}

.sponsors__item {
  list-style: none;
  width: 20%;
}

@media screen and (max-width: 576px) {
  .sponsors__item {
    width: 100%;
    text-align: center;
  }
}
